@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.alert {
  height:250px ;
  width: 300px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.alert__plname{
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 10px; 
  align-items: center;
}
.alert__plimg{
      align-items: center;
      justify-content: center;
      padding-bottom: 5px;
      padding-top: 5px; }
.fdName{
  display: block;
  padding-bottom: 5px;
}
.txName{
  display: block;
  border :1px solid black;
}
.imgfd{
  padding-bottom: 5px;
}
.btfd{
  position: absolute;
  bottom: 50px;
  right: 20px;

}
#addpl{
  display: none;
}
.crtpl{
  white-space: nowrap;
}
  .like-button {
    background-color: #202020; /* Màu nền của nút */
    padding: 0; /* Loại bỏ padding để nút ôm gọn icon */
    border: none; /* Loại bỏ đường viền của nút */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
    display: flex;
    align-items: center;
  }

  .like-button .like-icon {
    cursor: pointer;
    color: #888; /* Default color */
    font-size: 36px; /* Adjust the font size to make it larger */
    margin: 0 10px; /* Khoảng cách giữa icon và nút */
    transition: color 0.3s; /* Hiệu ứng chuyển đổi màu icon */
  }

  .like-button.active .like-icon {
    color: #f00; /* Color when selected */
  }

  .like-button:hover {
    background-color: #626366; /* Màu nền khi nút được di chuột qua */
  }

.accounttable{
  margin: 0 auto;
            color:white;
            font-size:20px;
            padding: 20px;

            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.accounttable td{
   padding: 8px;
   
}
.acct{
  width:100%;
  padding: 20px; 
}
.accinput{
      border: 1px solid blue;
    border-radius: 20px;
    width: 300px; /* Set the desired width */
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
}
.myplaylist-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.myplaylist {
  width: calc(33.33% - 20px);
  margin: 10px;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  color: white;
}
.myplaylist img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.myplaylist h3 {
  margin: 10px 0;
}

.myplaylist p {
  margin: 0;
  font-size: 14px;
  color: #888;
}
  .star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .star-rating input {
    display: none;
  }

  .star-rating label {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s, text-shadow 0.3s;
    
  }

  .star-rating input:checked ~ label {
    color: gold;
    text-shadow: 0 0 10px gold;
  }
.songdetail:hover {
  cursor: pointer;
  background-color: #333333;
}
.song_infor {
  width: 100%;
}
.right {
  margin-right: 22px;
}
.left iframe {
  margin-right: 30px;
  margin-left: 42px; /* Đặt margin-left thành auto để căn phải */
  display: block; /* Đảm bảo iframe là một khối đầy đủ chiều rộng */
}
.App__main-song {
  display: flex;
}
.App__main-song .left {
  flex: 6;
}
.App__main-song .right {
  flex: 4;
}
.Search1 {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.left1 {
  flex: 5;
}
.right1 {
  flex: 5;
}
.comments-container {
   max-width: 722px;
   margin: 20px auto;
   background-color: #202020; /* Adjust background color */
   padding: 15px;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.commenter-info {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.commenter-avatar {
   border-radius: 50%;
   margin-right: 10px;
   width: 40px; /* Adjust as needed */
   height: 40px; /* Adjust as needed */
}

.commenter-name {
   font-weight: bold;
   color: white;
   font-size: 16px; /* Adjust as needed */
}

.comment-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 10px;
   border-radius: 10px;
   padding: 15px;
   background-color: black;
   box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* White box shadow */
}

.comment-input {
   width: 100%;
   margin-bottom: 10px;
   padding: 10px;
   background-color: #303030; /* Darker background color */
   color: white;
   border: 1px solid white;
   border-radius: 8px;
   resize: none;
}

.comment-box button {
   padding: 10px 20px;
   background-color: white;
   color: black;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   font-weight: bold;
   transition: background-color 0.3s;
}

.comment-box button:hover {
   background-color: #eaeaea; /* Hover background color */
}

.comment {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   padding: 15px;
   border-radius: 10px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   background-color: #202020; /* Adjust background color */
   border: 1px solid #626366; /* White border */
}


.comment-avatar {
   border-radius: 50%;
   margin-right: 15px;
   width: 50px; /* Adjust as needed */
   height: 50px; /* Adjust as needed */
}

.comment-content {
   flex: 1;
}

.comment-meta {
   display: flex;
  
   align-items: center;
   margin-bottom: 5px;
}

.comment-meta strong {
   color: white;
}

.comment-time {
   font-size: 12px;
    padding-left:10px;
   color: #ccc;
}

.comment-text {
   font-size: 14px;
   color: white;
   margin: 0;
   
}


.comment-box button {
   padding: 5px 10px;
   background-color: white;
   color: black;
   border: none;
   cursor: pointer;
   border-radius: 5px;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.round-border-image {
  width: 178px; /* Đặt chiều rộng của ảnh */
  height: 180px; /* Đặt chiều cao của ảnh */
  border: 2px solid #000; /* Đặt độ dày và màu sắc của đường viền */
  border-radius: 5%; /* Làm tròn đường viền với bán kính là 50% của chiều rộng */
  object-fit: cover; /* Đảm bảo hình ảnh vừa đúng kích thước mà không bị kéo ra ngoài */
}

.playlist-songs tr:nth-child(2):hover {
  background-color: #333333;
  cursor: pointer;
}

:root {
  --spotify-green: #1db954;
  --footer-height: 40px;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  max-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
}
.playlist-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 20px;
}

.playlist-cover-song img {
  margin-left: 35px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 35px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 2px 35px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 2px 35px -1px rgba(0, 0, 0, 0.45);
}
.playlist-cover img {
  margin-left: 35px;
  object-fit: cover;
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 35px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 2px 35px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 2px 35px -1px rgba(0, 0, 0, 0.45);
}
.playlist-info {
  color: white;
  padding-left: 20px;
}

.playlist-public {
  font-size: 20px;
  font-weight: 600;
  font-family: "AvenirLTStd-Black";
}

.playlist-title {
  font-size: 40px;
  font-weight: 1000;

  margin-top: 10px;
  font-family: "AvenirLTStd-Black";
}

.playlist-description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  color: #b5b5b5;
}

.playlist-stats span:first-of-type {
  font-weight: 1000;
  font-family: "AvenirLTStd-Black";
}

.playlist-buttons-left,
.playlist-buttons-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist-buttons-resume-pause {
  background-color: var(--spotify-green);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-buttons-like svg path {
  fill: var(--spotify-green);
}

.playlist-buttons-like {
  margin-left: 20px;
}

.playlist-songs-container {
  height: 1000px;
  padding: 20px;
  background: rgb(95, 95, 95);
  background: linear-gradient(
    180deg,
    rgba(95, 95, 95, 1) 0%,
    rgba(18, 18, 18, 1) 22%,
    rgba(18, 18, 18, 1) 100%
  );
}

.playlist-buttons-download,
.playlist-buttons-three-dot {
  margin-left: 20px;
}

.playlist-buttons-download svg path,
.playlist-buttons-three-dot svg path,
.playlist-buttons-search svg path {
  fill: #cacaca;
}

.playlist-buttons {
  display: flex;
  justify-content: space-between;
}

.playlist-buttons-order {
  color: #cacaca;
}

.playlist-buttons-order {
  padding-left: 20px;
}

.playlist-songs {
  margin-top: 20px;
}

.playlist-songs table {
  border-collapse: collapse;
  width: 100%;
}

.playlist-songs table tr td,
.playlist-songs table tr th {
  padding: 10px;
  color: #cacaca;
}

.playlist-songs table tr th {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}

.playlist-songs table tr:first-of-type {
  border-bottom: 1px solid #cacaca;
}

.playlist-songs table th {
  text-align: left;
}

.playlist-songs table tr th:first-child {
  width: 2%;
}

.playlist-songs table tr th:nth-child(2) {
  width: 40%;
}

.song-image img {
  width: 34px;
  object-fit: cover;
  height: 34px;
}

.song-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.song-name-album {
  padding-left: 15px;
  letter-spacing: 0.5px;
}

.song-name {
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.song-artist,
.song-album,
.song-date-added,
.song-duration {
  font-size: 13px;
  margin-top: 6px;
  color: #898989 !important;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.play-button {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(29, 185, 84, 0);
  border-radius: 50%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App__song-navigation-prev {
  cursor: pointer;
  margin-top: 12px;
}
.App__section-grid-item:hover .play-button {
  opacity: 1;
  background-color: #1db954;
  transition: background-color 0.65s;
}
.adesign {
  text-decoration: underline;
  color: gray;
}
.signup-login-wrapper {
  position: absolute;
  top: 20px;
  right: 30px;
}

.signup-login {
  display: flex;
}

.signup {
  background-color: #000;
  color: #888;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: font-size 0.25s;
}
.login {
  color: black;
  background-color: white;
  padding: 10px 30px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: font-size 0.25s;
  text-decoration: none;
}
.signup:hover {
  color: white;
  font-size: large;
}
.login:hover {
  color: black;
  font-size: large;
}
.search-box {
  margin-right: 600px;
  display: flex;
  background-color: black;
  border-radius: 25px;
  border: 2px solid white;
  /* Thêm viền trắng */
  overflow: hidden;
  width: 350px;
  height: 50px;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-icon {
  fill: white;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 5px;
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 0;
  flex: 1;
  background: transparent;
  color: white;
  /* Đặt màu chữ nhập là trắng */
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-left:auto;
}
/* Tùy chỉnh kiểu và màu sắc theo nhu cầu của bạn */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  color: #fff;

  border-radius: 5px;
  padding: 10px;
  min-width: 160px;
  z-index: 1;
  cursor: pointer;
}

.dropdown-content a {
  color: #fff;
  display: block;
  padding: 5px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.drop {
  background-color: black;
  color: white;
  border: none;
  outline: none;
}
.drop:hover {
  font-size: large;
  cursor: pointer;
}
.App {
  --vertical-nav-width: 232px;

  width: 100vw;
  height: 100vh;
  background-color: darkgray;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-areas: "nav-bar main-view";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  position: relative;
  scrollbar-width: none;
  font-size: 16px;
}

.App::-webkit-scrollbar {
  display: none;
}

.App .test {
  border: 1px solid magenta;
}

.App__top-bar {
  grid-area: main-view;
  height: 60px;
  z-index: 2;
}

.App__nav-bar {
  grid-area: nav-bar;
  width: var(--vertical-nav-width);
  height: 100%;
  min-height: 100%;
  background-color: #000;
  padding-top: 24px;
}

.App__categories-nav {
  color: #c4c4c4;
  padding: 18px 12px;
}

.App__category-item--selected {
  color: #fff;
  background-color: rgba(50, 50, 50, 0.6);
  border-radius: 5px;
}

.App__category-item {
  padding: 5px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}

.App__category-item .icon {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  margin-right: 10px;
}

.App__category-item .icon svg {
  width: 24px;
  height: 24px;
}
.App__category-item:hover {
  color: #6666ff;
  font-size: large;
  transition: font-size 0.25s;
}
.App__playlists-nav {
  color: #c4c4c4;
  padding: 18px 12px;
}

.App__main-view {
  grid-area: main-view;
  background-color: #121212;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.App__main-view::-webkit-scrollbar {
  display: none;
}

.App__header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
}

.App__user {
  
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  border-radius: 16px;
  padding: 1px;
  background-color: #000;
  cursor: pointer;
}

.App__figure {
  margin-right: 8px;
  margin-left: 2px;
}

.App__image {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #2a2a2a;
}

.App__username {
  color: #fff;
  font-size: 0.9em;
  margin-right: 8px;
}

.App__expand-arrow {
  transform: rotateZ(180deg);
  margin-right: 8px;
}

.App__top-gradient {
  height: 332px;
  width: 100%;
  margin-top: -60px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, #121212 100%);
  background-color: #5028f0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.App__header-placeholder {
  height: 60px;
  width: 100%;
}

.App__section {
  padding: 16px 32px;
  color: #fff;
}

.App__section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App__section-header span {
  color: #686868;
  font-size: 0.8em;
}

.App__section-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  column-gap: 24px;
  margin-top: 16px;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  overflow-y: hidden;
}

.App__section-grid-item {
  background-color: #242424;
  width: 100%;
  height: auto;
  min-height: 150px;
  padding: 10%;
  border-radius: 4px;
  cursor: pointer;
}

.App__section-grid-item .featured-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 4px;
  background-image: linear-gradient(to bottom right, blue, white);
  background-size: cover;
  margin-bottom: 16px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

.App__section-grid-item h3 {
  margin-bottom: 8px;
}

.App__section-grid-item span {
  color: #686868;
  font-size: 0.8em;
}
.App__section-grid-item:hover {
  background-color: #333333;
  transition: background-color 0.65s;
}
